.updates-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    margin-bottom: 3rem;
}
.heading{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.updates-img{
    width: 30%;
    height: 300px;
    border-radius: 5px;
}
.updates-text{
    width: 50%;
    font-size: 1rem;
}

.title{
    font-size: 1.4rem;
    font-weight: 600;
}
.title-underline{
    display: block;
    width: 100px;
    height: 2px;
    background-color: black;
    margin-bottom: 2rem;
}

/* Media-Query */

@media screen and (max-width:540px) {
    .title{
        font-size: 1.2rem;
    }
    .content{
        flex-direction: column;
        gap: 1rem;
    }
    .updates-content{
        margin: 0;
        margin-bottom: 3rem;
    }
    .heading{
        font-size: 1rem;
        text-align: center;
    }
    .updates-img{
        width: 90%;
        height: 300px;
    }
    .updates-text{
        width: 90%;
        font-size: 0.8rem;
    }
    .mobile-view{
        flex-direction: column-reverse;
    }
}
@media (min-width:540px) and (max-width:768px) {
    .content{
        flex-direction: column;
        gap: 1rem;
    }
    .updates-content{
        margin: 0;
        margin-bottom: 3rem;
    }
    .heading{
        text-align: center;
    }
    .updates-img{
        width: 90%;
        height: 300px;
    }
    .updates-text{
        width: 90%;
        font-size: 1rem;
    }
    .mobile-view{
        flex-direction: column-reverse;
    }
}