/* back to top btn  */
.to-top{
    position: fixed;
    bottom: 2rem;
    float: right;
    right: 5%;
    left: 95%;
    max-width: 3rem;
    width: 100%;
    background-color: #02044F;
    border: none;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.6s ease;
    cursor: pointer;
}
.to-top:hover{
    transform: scale(1.3);

}

@media screen and (max-width:540px) {
    .to-top{
        right: 20%;
        left: 80%;
    }
}

@media (min-width:540px) and (max-width:1024px) {
    .to-top{
        right: 10%;
        left: 90%;
    }
}