.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
}

.carousel {
    width: 100%;
    height: 100%;
    margin-bottom: 75vh;
}

.see-more {
    background-color: #02044F;
    width: 7rem;
    height: 2rem;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    position: relative;
    margin: -16vh 0 1.5rem 85vw;
    color: white;
    text-decoration: none;
    z-index: 200;
}

.see-more-text {
    visibility: visible;
}

.quote {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2rem;
    margin: 1rem 2rem;
}

.hr {
    display: block;
    height: 3px;
    width: 95%;
    background-color: black;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    margin: 1rem 2rem;
}

.message-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.message-author {
    font-size: 0.9rem;
    font-weight: 600;
}

.parent-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

/* Media-Queries ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width:320px) {
    .home {
        padding: 0rem;
    }
    .quote {
        font-size: 1rem;
        margin: 1rem 0rem;
    }

    .see-more {
        width: 0px;
        height: 0px;
    }

    .see-more-text {
        font-size: 0px;
    }
    .message {
        padding: 1rem;
        margin: 1rem 0rem;
        align-items: center;
    }

    .message-text {
        font-size: 0.8rem;
    }

    .message-author {
        font-size: 0.7rem;
    }

    .parent-section {
        padding: 0 0.2rem;
        margin-bottom: 1rem;
    }
}

@media (min-width:321px) and (max-width:540px) {
    .home {
        padding: 0rem;
    }

    .quote {
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .message {
        padding: 1rem;
        margin: 1rem 0rem;
        align-items: center;
    }

    .message-text {
        font-size: 0.8rem;
    }

    .message-author {
        font-size: 0.7rem;
    }

    .parent-section {
        padding: 0 0.2rem;
        margin-bottom: 1rem;
    }

    .see-more {
        font-size: .7rem;
        height: 1.5rem;
        width: 4rem;
        padding-top: .3rem;
        margin: -15.6vh 0 3.5rem 75vw;
        font-weight: 600;
    }
}

@media (min-width:540px)and (max-width:768px) {
    .home {
        width: 100%;
        padding: 0rem rem;
    }

    .quote {
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .message {
        padding: 1rem;
        margin: 1rem 0rem;
        align-items: center;
    }

    .see-more {
        margin: -16vh 0 4.5rem 75vw;
    }
}

@media (min-height:768px)and (max-height:1024px) {
    .see-more {
        margin: -16vh 0 4rem 75vw;
    }
}

@media screen and (min-height:1024px) {
    .see-more {
        margin: -16vh 0 6rem 75vw;
    }
}