.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02044F;
    padding: 0.5rem 2rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 1rem;
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links>div{
    color: white;
    padding: 0.8rem 0.5rem;
    transition: 0.5s ease;
}

.links>div:hover{
    border-bottom: 4px solid white;
}