.container{
    box-sizing: border-box;
    width: 100%;
    margin: 4rem 0;
    padding: 2rem 4rem;
    height: 100vh;
    display: flex;
    gap: 1rem;
}
.photo-container{
    border-radius: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    border-radius: 2rem;
    width: 100%;
    border: 2px solid #02044F;
    object-fit:cover;
}
.title{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.title-underline{
    display: block;
    width: 100px;
    height: 2px;
    background-color: black;
    margin-bottom: 2rem;
}

.gallery::-webkit-scrollbar { 
    display: none; 
}
.gallery{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    overflow-y: scroll;
}

.image-container{
    width: 20%;
    height: 200px;
    border-radius: 3px;
    box-shadow: 1px 3px 10px rgba(0,0,0.8);
}

.image{
    width: 100%;
    height: 200px;
    border-radius: 3px;
    object-fit: cover;
    cursor: pointer;
}
/* media-query */

@media screen and (max-width:540px) {
    .container{
        flex-direction: column;
        padding: 1rem 1rem;
        margin: 1rem 0;
        height: 150vh;
    }
    .photo-container{
        width: 100%;
        margin-bottom: 2rem;
    }
    .gallery{
        width: 100%;
        height: 150vh;
    }
    .image-container{
        width: 40%;
        height: 100px;
    }
    .image{
        height: 100px;
    }
}

@media (min-width:540px) and (max-width:1200px) {
    .container{
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 0;
        height: 150vh;
    }
    .photo-container{
        width:70%;
        margin-bottom: 2rem;
    }
    .gallery{
        width: 100%;
        height: 150vh;
    }
    .image-container{
        width: 30%;
        height: 150px;
    }
    .image{
        height: 150px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .gallery{
        padding: 2rem 1rem;
    }
}