.carousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.active{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image{
    width: 98%;
    height: 600px;
    border-radius: 10px;
}

.next{
    height: 4rem;
    color: black;
    cursor: pointer;
    user-select: none;
}
.prev{
    height: 4rem;
    color: black;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease ;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-width:540px) {
    .image{
        height: 180px;
    }
    .next,.prev{
        height: 2rem;
    }
}
@media (min-width:540px) and (max-width:769px) {
    .image{
        height: 400px;
    }
    .next,.prev{
        height: 2rem;
    }
}
@media (min-width:769px) and (max-width:1280px) {
    .image{
        height: 500px;
    }
    .next,.prev{
        height: 3rem;
    }
}